*{
  box-sizing: border-box;
  margin :0;
  padding: 0;
  
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
.App{
  text-align: center;
  position: relative;
} 
.App-logo{
  height: 80px;
}
.nav{
  padding: 30px 0;
  background-color: #222;
}
.nav a{
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 15px;
  padding: 10px;
  border: 1px rgb(red, green, blue);
  transition: all 0.3s linear;
  text-decoration: none;
  color: white;

}
.nav a.active{
  background-color: #616161;
  color: #222;

}
section{
 padding: 20px 0;
 max-width: 600px;
 margin: 0 auto;

}
.card{
    border: 3px #f3f3f3 solid;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 0 auto;
}
.card:hover{
  background-color: #f3f3f3;
  border-color:#4d3434 ;

}
.card img{
  max-width: calc(100%);
  margin: 0 auto;
  display: block;

}
.card .index{
  background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0 10px;
}
.cards-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .cards-slider-wrapper .card {
    flex: 1;
    min-width: 200px;
    opacity: 0.7;
    transform: scale(0.8);
    box-shadow: none;
    background-color: white;
    border-color: white;
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    

    
      .cards-slider {
        position: relative;
        max-width: 226px;
        }
        .cards-slider:after {
          content: '';
          display: block;
          width: 90%;
          height: 170px;
          outline: 10px solid #61DAFB;
          position: absolute;
          top: 0;
          left: 0;
         }
      